.container__header {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5625rem;
  font-weight: 600;
  color: #e1e1e6;

  height: 6.25rem;

  background-color: #202024;
}
